{% extends 'base.html' %}
{% load staticfiles %}
{% block title %} Cultural Ring Road | Events {% endblock %}
{% block meta_links %}

<!-- put meta stuffs here -->
{% endblock %}

{% block style_links %}
{% endblock %}


{% block content %}
<section class="bg-light page-content__wrapper">
    <div class="container pt-5">
        <div class="row">
            <div class="col">
                <h1>Current Events</h1>
            </div>
        </div>
        <div class="row mt-3">
            {% for event in running_events %}
            <div class="col-xs-12 col-sm-6 mb-4 blog-showcase">
                <a href="{{event.get_absolute_url}}">
                    <div class="content-box boxed blog-box">
                        <div style="position: relative;">
                            <img src="{{event.image.url}}" class="blog-image" alt="{{blog.title}}">
                            <div class="blog-date">
                                <span>{{event.start_date|date:"d"}} ram</span>
                                <span>{{event.start_date|date:"M Y"}}</span>
                            </div>
                        </div>
                        <div class="p-3">
                            <h4 class="mb-3">{{event.name}}</h4>
                            <i class="fas fa-bookmark"></i>
                            <span class="ml-1 mr-5">
                                {% for place in event.place.all %}
                                <span class="event_places">{{place.name}}</span>
                                {% endfor %}
                            </span>
                            <i class="fas fa-calendar"></i> <span>{{event.duration}} Days</span>
                            <p class="mt-3 text-muted">{{event.short_description|truncatewords:15}}</p>
                        </div>
                    </div>
                </a>
            </div>
            {% empty %}
            <div class="col">
                <h5 class="text-muted">No Events found. Please visit us later.</h5>
            </div>
            {% endfor %}
        </div>
        {% if not_running_events %}
        <div class="row mt-5">
            <div class="col">
                <h1>Other Events</h1>
            </div>
        </div>
        <div class="row mt-3">
            {% for event in not_running_events %}
            <div class="col-xs-12 col-sm-6 mb-4 blog-showcase">
                <a href="{{event.get_absolute_url}}">
                    <div class="content-box boxed blog-box">
                        <div style="position: relative;">
                            <img src="{{event.image.url}}" class="blog-image" alt="{{blog.title}}">
                            <div class="blog-date">
                                <span>{{event.start_date|date:"d"}}</span>
                                <span>{{event.start_date|date:"M Y"}}</span>
                            </div>
                        </div>
                        <div class="p-3">
                            <h4 class="mb-3">{{event.name}}</h4>
                            <i class="fas fa-bookmark"></i>
                            <span class="ml-1 mr-5">
                                {% for place in event.place.all %}
                                <span class="event_places">{{place.name}}</span>
                                {% endfor %}
                            </span>
                            <i class="fas fa-calendar"></i> <span>{{event.duration}} Days</span>
                            <p class="mt-3 text-muted">{{event.short_description|truncatewords:15}}</p>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
</section>
{% endblock %}

{% block script_links %}
{% endblock %}

{% block scripts %}
{% endblock %}