{% extends 'base.html' %}
{% load staticfiles %}
{% block title %} Cultural Ring Road | Event Detail {% endblock %}
{% block meta_links %}

<!-- put meta stuffs here -->
{% endblock %}

{% block style_links %}
{% endblock %}

{% block content %}
<section class="page-content__wrapper">
    <img src="{{instance.image.url}}" alt="{{instance.name}}" class="event-detail-image">
    <div class=" container">
        <div class="container mt-5">
            <div class="row">
                <div class="col">
                    {{instance.long_description|safe}}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block script_links %}
{% endblock %}

{% block scripts %}
{% endblock %}