{% extends 'base.html' %}
{% load staticfiles %}
{% block title %} Cultural Ring Road | Home {% endblock %}
{% block meta_links %}

<!-- put meta stuffs here -->
{% endblock %}

{% block style_links %}
{% endblock %}


{% block content %}

<div class="page-wrapper">
    <div class="overlay"></div>
    <div class="container">
        <div class="row pt-5">
            <div class="col d-flex flex-column align-items-center">
                <p class="text-center">आर्थिक उन्नतिको लागि पर्यटन, पर्यटनका लागि</p>
                <!-- <p class="text-uppercase text-center">पर्यटकिय चक्रपथ</p> -->
                <h1 class="coming-soon__title text-center">
                    सांस्कृतिक चक्रपथ
                </h1>
                <p class="text-center">प्रतिक्षा गर्नुहोस</p>

                <!-- <p class="mt-5 text-center">This website is under construction and will be launched in </p> -->
            </div>
        </div>
        <div class="row time__wrapper d-flex flex-row justify-content-center">
            <div class="col-xs-4 col-sm-4 col-md-auto d-flex flex-column align-items-center timer">
                <div class="time" id="timer-days">00</div>
                <div class="time-label">दिन</div>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-auto d-flex flex-column align-items-center timer">
                <div class="time" id="timer-hours">00</div>
                <div class="time-label">घण्टा</div>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-auto d-flex flex-column align-items-center timer">
                <div class="time" id="timer-minutes">00</div>
                <div class="time-label">मिनेट</div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-auto d-flex flex-column align-items-center timer">
                <div class="time" id="timer-seconds">00</div>
                <div class="time-label">सेकेन्ड</div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-auto d-flex flex-column align-items-center timer">
                <div class="time" id="timer-ms">00</div>
                <div class="time-label">मिलिसेकेन्ड</div>
            </div>
        </div>
        <div class="row">
            <div class="col d-flex flex-row justify-content-center fixed-bottom mb-3">
                Made with <span class="mx-1" style="color: red">&hearts;</span> from <a class="ml-1"
                    href="https://techkunja.com.np" target="_blank">Tech Kunja</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block script_links %}

{% endblock %}

{% block scripts %}
<script>
    var now = new Date().getTime();
    var launchDate = new Date("{{launchDate}}").getTime();
    var difference = launchDate - now
    $days = $('#timer-days');
    $hours = $('#timer-hours');
    $minutes = $('#timer-minutes');
    $seconds = $('#timer-seconds');
    $ms = $('#timer-ms');

    // var engStr = "1";

    function converter(str) {
        strStr = String(str);
        var nepStr = '';
        for (let i = 0; i < strStr.length; i++) {
            switch (strStr[i]) {
                case '0':
                    nepStr += '०';
                    break;
                case '1':
                    nepStr += '१';
                    break;
                case '2':
                    nepStr += '२';
                    break;
                case '3':
                    nepStr += '३';
                    break;
                case '4':
                    nepStr += '४';
                    break;
                case '5':
                    nepStr += '५';
                    break;
                case '6':
                    nepStr += '६';
                    break;
                case '7':
                    nepStr += '७';
                    break;
                case '8':
                    nepStr += '८';
                    break;
                case '9':
                    nepStr += '९';
                    break;

            }
        }
        return nepStr;
    }

    function printTime() {
        var now = new Date().getTime();
        var launchDate = new Date("{{launchDate}}").getTime();
        var diff = launchDate - now;
        $('#test-time').html(now.toString());
        setTimeout(function () {
            if (diff > 0) {
                diff -= 76;
                printTime();
                $ms.text(converter(new Date(diff).getMilliseconds().toString().padStart(3, "0")));
                $seconds.text(converter(new Date(diff).getSeconds().toString().padStart(2, "0")));
                $minutes.text(converter(new Date(diff).getMinutes().toString().padStart(2, "0")));
                $hours.text(converter(new Date(diff).getHours().toString().padStart(2, "0")));
                let days = Math.floor(new Date(diff) / (1000 * 60 * 60 * 24)).toString().padStart(2, "0");
                $days.text(converter(days));
            }
        }, 76);
    }

    printTime();
</script>

{% endblock %}