{% extends 'base.html' %}
{% load staticfiles %}
{% block title %} Cultural Ring Road | Video Gallery {% endblock %}
{% block meta_links %}

<!-- put meta stuffs here -->
{% endblock %}

{% block style_links %}
{% endblock %}


{% block content %}
<section class="bg-light page-content__wrapper">
    <div class="container pt-5">
        <div class="row">
            <div class="col">
                <h1>Video Gallery</h1>
            </div>
        </div>
        <div class="row mt-3">
            {% for gallery in gallery %}
            <div class="col-xs-12 col-md-6 mb-4">
                <iframe width="560" height="315" src="{{gallery.video_url}}" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}

{% block script_links %}
{% endblock %}

{% block scripts %}
{% endblock %}