{% extends 'base.html' %}
{% load staticfiles %}
{% block title %} Cultural Ring Road | Home {% endblock %}
{% block meta_links %}

<!-- put meta stuffs here -->
{% endblock %}

{% block style_links %}
<link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
<link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
{% endblock %}


{% block content %}
<div class="owl-carousel owl-theme">
    {% for slider in slider_list %}
    <div class="item">
        <div class="slider-overlay"></div>
        <img class="slider-image" src="{{slider.image.url}}" alt="{{slider.caption}}">
        <div class="slider-caption">
            <div class="slider-caption__inner">
                <h2 class="text-center mb-0">
                    {{slider.caption}}
                </h2>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<div class="container mt-5">
    <!-- <div class="row">
        <div class="col">
            <h3 class="text-center">About</h3>
            <p class="text-center">{{about.short_content}}</p>
        </div>
    </div> -->
    <div class="row mt-5">
        <div class="col">
            <!-- <h3 class="text-center">Places</h3> -->
            <p class="text-center">{{about.short_content}}</p>
        </div>
    </div>
    <div class="row my-5">
        {% for place in places %}
        <div class="col-xs-12 col-md-4">
            <div class="card place-card mb-3">
                <img class="card-img-top card-image" src="{{place.image.url}}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{place.name}}</h5>
                    <p class="card-text">{{place.short_description|truncatewords:30}}</p>
                    <a href="{{place.get_absolute_url}}" class="btn btn-outline-primary">Read More</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<!-- <div class="container-fluid place-wrapper my-5">
    <div class="row">
        <div class="col place-container__text-wrapper">text</div>
        <div class="col">image</div>
    </div>
</div> -->
{% endblock %}

{% block script_links %}
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
{% endblock %}

{% block scripts %}

<script>
    $('.owl-carousel').owlCarousel({
        loop: true,
        margin: 10,
        nav: false,
        items: 1,
        autoplay: true,
        autoplayHoverPause: true,

    })
</script>
{% endblock %}