body {
    font-family: 'Quicksand', sans-serif;
    -webkit-font-smoothing: antialiased;
}

.page-wrapper {
    /* height: 100%; */
    position: relative;
    height: 100vh;
    background: url('../img/patan.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: white;
}

.page-content__wrapper {
    min-height: 100vh;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(5, 2, 56, 0.78)
}

.coming-soon__title {
    font-size: 5rem;
    font-weight: lighter
}

.time__wrapper {
    margin: 0 6rem;
}

.timer>.time {
    font-size: 5rem;
}

.timer>.time-label {
    font-size: 1.5rem;
}

/* ============ navbar =============== */
.navbar {
    padding: 15px !important;
    background-color: rgba(255, 255, 255, 0.97) !important;
    -webkit-box-shadow: 0px 5px 19px -15px rgba(0, 0, 0, 0.83);
    -moz-box-shadow: 0px 5px 19px -15px rgba(0, 0, 0, 0.83);
    box-shadow: 0px 5px 19px -15px rgba(0, 0, 0, 0.83);
}

.navbar::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    filter: blur(20px);
    z-index: -1;
    width: 100%;
}

.nav-item {
    margin-right: 15px;
    margin-left: 15px;
}

/* ========= home ====== */

.slider-image {
    height: 80vh;
    /* width: 100%; */
    object-fit: cover;
    object-position: center;
}

.slider-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.53)
}

.owl-dots {
    position: absolute;
    bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%
}

.slider-caption {
    position: absolute;
    /* bottom: 50px; */
    top: 50%;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.slider-caption__inner {
    width: 60%;
    color: white;
    /* background-color: rgba(0, 0, 0, 0.753); */
    padding-top: 15px;
    padding-bottom: 15px;
}

.slider-caption__inner h2 {
    font-size: 3.5rem;
}

.place-card {
    /* cursor: pointer; */
    transition: all ease-in-out 0.2s
}

.place-card:hover {
    transform: scale(1.03)
}

.place-wrapper {}

.place-container__text-wrapper {
    background-color: blueviolet;
    padding: 20px;
    color: white
}

/* ============Footer Section */

.upper-footer {
    /* position: absolute; */
    bottom: 40px;
    left: 0;
    background-color: #351c1c;
    color: white;
    /* padding: 20px; */
    width: 100%;
}

.explore-item::before {
    content: ">";
    margin-right: 5px;
}

.explore-item {
    cursor: pointer;
    transition: all ease-in-out 0.2s
}

.explore-item:hover {
    transform: translateX(5px)
}

footer {
    background-color: white;
    /* position: absolute; */
    bottom: 0;
    left: 0;
    padding: 10px 20px;
    font-size: 14px;
    width: 100%;
}

.footer-explore__wrapper a {
    color: inherit;
    text-decoration: none
}

.card-image {
    height: 200px;
    object-fit: cover;
    object-position: center;
}


.content-box {
    position: relative;
    overflow: hidden;
}

.content-box-info {
    position: relative;
}

.content-box.boxed {
    background-color: #fff;
    box-shadow: 0 3px 23px rgba(39, 79, 117, .15);
    border-radius: 3px;
}

.content-box-info .extra-field,
.media-box .extra-field {
    background-color: rgb(55, 156, 244);
    color: rgb(255, 255, 255);
    font-weight: 600;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: .5px;
    padding: 0 10px;
    border-radius: 3px;
    position: absolute;
    z-index: 1;
    margin: 15px;
}

.blog-showcase {
    cursor: pointer;
    transition: all ease-in-out 0.3s;
}

.blog-showcase .blog-box {
    display: flex;
    flex-direction: row;
}

.blog-box .blog-date {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 80px;
    height: 80px;
    color: #FFF;
    z-index: 5;
    text-align: center;
    background-color: rgb(55, 156, 244);
}


.blog-box .blog-date span {
    display: block;
}

.blog-box .blog-date span:first-child {
    padding: 10px 0 10px 0;
    font-size: 25px;
}

.blog-box .blog-date span:last-child {
    background-color: rgb(19, 48, 74);
    font-weight: 600;
    font-size: 11px;
}

.blog-image {
    height: 100%;
    width: 220px;
    object-fit: cover;
    object-position: center;
}

@media (max-width: 575.98px) {
    .blog-image {
        height: 220px;
        width: 100%;
        object-fit: cover;
        object-position: center;
    }

    .blog-showcase .blog-box {
        flex-direction: column;
    }
}

.blog-showcase a {
    text-decoration: none;
    color: inherit
}

.blog-showcase a:hover {
    text-decoration: none;
    color: inherit
}

.blog-showcase:hover {
    transform: scale(0.98);
    transition: all ease-in-out 0.3s;
}

.blog-showcase i {
    color: #007bff
}

.blog-categories__wrapper ul {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}

.blog-categories__wrapper ul li {
    position: relative;
    transition: all ease-in-out .5s;
}

.blog-categories__wrapper ul li::before {
    width: 100%;
    content: "";
    position: absolute;
    width: 0%;
    height: 1px;
    transition: all .5s;
    bottom: 0;
    left: 0;
    background-color: rgb(55, 156, 244);
}

.blog-categories__wrapper ul li:hover::before {
    width: 100%;
}

.blog-categories__wrapper ul li a {
    height: 50px;
    line-height: 50px;
    font-weight: 500;
    display: block;
    position: relative;
    text-decoration: none;
    border-radius: 3px;
    cursor: pointer;
    transition: all .5s;
}

.blog-categories__wrapper ul li:hover a {
    color: rgb(55, 156, 244);
}

.event_places::after {
    content: ', '
}

.event_places:last-child::after {
    content: ''
}

.event-detail-image {
    width: 100%;
    height: 60vh;
    object-fit: cover;
    object-position: center;
}

.place-page-image {
    width: 100%;
    height: 80vh;
    object-fit: cover;
    object-position: center;
}

.lang-btns {
    position: absolute;
    top: 100px;
    right: 40px;
    background: white;
    border-radius: .3rem;
}