{% extends 'base.html' %}
{% load staticfiles %}
{% block title %} Cultural Ring Road | {{instance.name}} {% endblock %}
{% block meta_links %}

<!-- put meta stuffs here -->
{% endblock %}

{% block style_links %}
{% endblock %}


{% block content %}
<section class="page-content__wrapper">
    <img src="{{instance.image.url}}" alt="{{instance.name}}" class="place-page-image">
    <div class="lang-btns">
        <div class="btn-group btn-group-sm" role="group">
            <button type="button" class="btn btn-primary" id="engBtn">Eng</button>
            <button type="button" class="btn btn-outline-primary" id="nepBtn">नेपाली</button>
        </div>
    </div>
    <div class="container pt-3">
        <div class="row mt-3">
            <div class="col" id="main-content">
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block script_links %}
{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function () {
        var $engBtn = $('#engBtn');
        var $nepBtn = $('#nepBtn');
        var $mainContent = $('#main-content');
        var safeContentEng = `{{instance.long_description|safe}}`
        var safeContentNep = `{{instance.long_description_nepali|safe}}`
        $mainContent.html(safeContentEng);
        $engBtn.on({
            click: function () {
                $(this).removeClass("btn-outline-primary");
                $(this).addClass("btn-primary");
                $nepBtn.addClass("btn-outline-primary");
                $nepBtn.removeClass("btn-primary");
                $mainContent.html(safeContentEng);
                console.log("eng clicked");
            }
        });
        $nepBtn.on({
            click: function () {
                $(this).removeClass("btn-outline-primary");
                $(this).addClass("btn-primary");
                $engBtn.addClass("btn-outline-primary");
                $engBtn.removeClass("btn-primary");
                $mainContent.html(safeContentNep);
                console.log("nep clicked")
            }
        });
    });
</script>
{% endblock %}