{% extends 'base.html' %}
{% load staticfiles %}
{% block title %} Cultural Ring Road | Places {% endblock %}
{% block meta_links %}

<!-- put meta stuffs here -->
{% endblock %}

{% block style_links %}
{% endblock %}


{% block content %}
<div class="container pt-5 page-content__wrapper">
    <div class="row my-5">
        {% for place in places %}
        <div class="col-xs-12 col-md-4">
            <div class="card place-card mb-3">
                <img class="card-img-top card-image" src="{{place.image.url}}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{place.name}}</h5>
                    <p class="card-text">{{place.short_description|truncatewords:30}}</p>
                    <a href="{{place.get_absolute_url}}" class="btn btn-outline-primary">Read More</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block script_links %}
{% endblock %}

{% block scripts %}
{% endblock %}