<!DOCTYPE html>
<html lang="en">

<head>
    {% load staticfiles %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name=description content= />
    <meta name=keywords content= />
    <meta name=author content= />
    {% block meta_links %}
    <!-- meta data stuffs are included here -->
    {% endblock %}
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    {% block style_links %}

    <!-- style links are included here -->
    {% endblock %}
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light sticky-top">
        <a class="navbar-brand" href="/">Cultural Ring Road</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item {% if home_active %}active{% endif %}">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item {% if event_active %}active{% endif %}">
                    <a class="nav-link" href="{% url 'event:event' %}">Events</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if place_active %}active{% endif %}" href="{% url 'place:place' %}">Places</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if gallery_active %}active{% endif %}"
                        href="{% url 'home:gallery' %}">Gallery</a>
                </li>

            </ul>
        </div>
    </nav>
    {% block content %}

    {% endblock %}
    <div class="upper-footer">
        <div class="container pt-5 pb-4 ">
            <div class="row">
                <div class="col-xs-12 col-md-5">
                    <h4 class="mb-3">About</h4>
                    <p class="text-justify">{{about.short_content}}</p>
                </div>
                <div class="col-xs-12 col-md-3 footer-explore__wrapper">
                    <h4 class="mb-3">Explore</h4>
                    <a href="{% url 'place:place' %}">
                        <p class="explore-item">Places</p>
                    </a>
                    <a href="{% url 'event:event' %}">
                        <p class="explore-item">Events</p>
                    </a>
                </div>
                <div class="col-xs-12 col-md-4">
                    <h4 class="mb-3">Contact</h4>
                    <p><strong>पर्यटकिय पुर्वाधार तथा सुचना केन्द्र उपभोक्ता समिति</strong></p>
                    <p><i class="fa fa-map-marker mr-3"></i>{{contact.address}}</p>
                    {% if contact.phone_number1 %}<p><span
                            class="fa fa-phone mr-3"></span>{{contact.phone_number1}}{% if contact.phone_number2 %},
                        {{contact.phone_number2}}{% endif %}
                    </p>
                    {% endif %}
                    {% if contact.email %}
                    <p>
                        <span class="fa fa-envelope mr-3"></span>{{contact.email}}
                    </p>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
    <footer class="mx-auto">
        <span>&copy; paryatakiya Chakrapath Upavokta Samiti, </span> <span id="date"></span> <span class="mx-3">|</span>
        <span>Made
            with <span class="mx-1" style="color: red">&hearts;</span> from <a class="ml-1"
                href="https://techkunja.com.np" target="_blank">Tech Kunja</a> </span>
    </footer>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>

    <script src="{% static 'js/main.js' %}"></script>
    {% block script_links %} {% endblock %}
    <script>
        $('#date').text(new Date().getFullYear());
    </script>
    {% block scripts %}

    {% endblock %}
</body>

</html>